#!/usr/bin/make -f

PYTHON_BUILDDIR=../../debian/libretime
PYTHON_INSTALL_FLAGS=--install-layout=deb --root=${PYTHON_BUILDDIR}/ --install-scripts=usr/bin

export PYTHONDONTWRITEBYTECODE=yes

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf python_apps/airtime_analyzer/airtime_analyzer.egg-info
	python python_apps/airtime_analyzer/setup.py clean --all
	rm -rf python_apps/airtime-celery/airtime_celery.egg-info
	python python_apps/airtime-celery/setup.py clean --all
	rm -rf python_apps/api_clients/api_clients.egg-info
	python python_apps/api_clients/setup.py clean --all
	rm -rf python_apps/pypo/airtime_playout.egg-info
	python python_apps/pypo/setup.py clean --all

override_dh_auto_build:
	composer install --no-dev
	dh_auto_build
	python python_apps/airtime_analyzer/setup.py build
	python python_apps/airtime-celery/setup.py build
	python python_apps/api_clients/setup.py build
	python python_apps/pypo/setup.py build

override_dh_install:
	python python_apps/airtime_analyzer/setup.py install \
		--no-init-script ${PYTHON_INSTALL_FLAGS}
	python python_apps/airtime-celery/setup.py install \
		--no-init-script ${PYTHON_INSTALL_FLAGS}
	python python_apps/api_clients/setup.py install ${PYTHON_INSTALL_FLAGS}
	python python_apps/pypo/setup.py install \
		--no-init-script ${PYTHON_INSTALL_FLAGS}
	mkdir -p debian/libretime/var/log/airtime
	mkdir -p debian/libretime/var/log/airtime/pypo
	mkdir -p debian/libretime/var/log/airtime/pypo-liquidsoap
	mkdir -p debian/libretime/srv/airtime
	mkdir -p debian/libretime/var/tmp/airtime
	dh_install

override_dh_fixperms:
	dh_fixperms
	chmod -R 775 debian/libretime/var/log/airtime
	chown www-data:www-data -R debian/libretime/var/log/airtime/
	chmod a+x debian/libretime/var/tmp/airtime
	chown www-data:www-data debian/libretime/var/tmp/airtime/
	chown www-data:www-data debian/libretime/etc/airtime
	chmod 664 debian/libretime/etc/airtime/liquidsoap.cfg
	chown www-data:www-data debian/libretime/srv/airtime
